html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {
  text-decoration: none;
  color: orange;
}

.App {
  text-align: center;
  background: linear-gradient(to right, orange, red, purple);
  background-image: url(./images/Background.jpg);
  background-size: cover;
  width: 100vw;
  height: 340vh;
  min-height: 1200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0vh;
  position: absolute;
  overflow: hidden;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes flash {
  0% {color: orange}
  50% {color: yellow}
  100% {color: orange}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* NavBar */
.navigationBar {
  position: fixed;
  top: 0vh;
  min-height: 50px;
  height: 7vh;
  width: 100vw;
  background-color: rgb(48, 47, 47);
  box-shadow: 0px 7px 10px rgb(29, 29, 29);
  z-index: 2;


}

.navigationBar a {
  margin-top: .75em;
  float: left;
  margin-right: 40px;
  font-size: medium;
  color: ivory;
  text-decoration: none;
}

.Home {
  position: relative;
  margin-left: 40px;
}

.navigationBar:hover a {
  cursor: pointer;
}

/* Header */

.headerBox {
  height: 75vh;
  width: 90vw;
  position: relative;
  left: 5vw;
  top: 50px;
  border-radius: 10%;
  opacity: 1;
}

.titleText {
  top: 10vh;
  height: 25vh;
  width: 100%;

  opacity: 1;
  position: relative;

  clear: both;
}

.titleText p {
  font-size: 10vmin;

}

.briefAbout {
  height: fit-content;

  width: 100%;
  position: relative;
  top: 5vh;
  display: block;
  clear: both;

}

.briefAbout p {
  font-size: 5vmin;
}

.socialMediaBox {
  height: 30vh;
  width: 27vw;
  margin-top: 0vh;
  top: 0vh;
  left: 37vw;
  position: relative;


}

.icon {
  margin-top: 0vh;
  border-radius: 15%;
  border-width: .25vw;
  float: left;
  top: 10vh;
  position: relative;
  margin-left: 5vw;
  color: white;
  transition: ease-in .1s;
}

.icon:hover {
  transform: scale(1.2);
}

#firstIcon {
  margin-left: 0vw;
}

/* Aboutme */
.aboutMeText {
  width: 50vw;
  left: 25vw;
  height: auto;
  position: relative;
  text-align: center;
}

.aboutMeText p {
  font-size: 2.5vh;
}

.subTitle {
  font-size: 5vh;
}

.link[flash='1'] {
  animation: flash 1s;
}

/* projects */

.projectHolder {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgb(29,29,29);
  top: 0vh;
}

.projects {
  margin-top: 15vmax;
}

.project1, .project2{

  width: 35vw;
  top: 30vh;
  height: auto;
  position: relative;

}

.project1 {
  left: 7.5vw;
}
.project2 {
  left: 57.5vw;
}
.project3 {
  background-color: black;
  width: 35vw;
  height: auto;
  position: relative;
  left: 32.5vw;
  top: 70vmin;

}

.projectBox {
  top: 0vh;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29,29,29);
  position: fixed;
}

.xButton {
  width: 5vw;
  height: 5vw;
  background-color: rgb(37, 37, 37);
  position: absolute;
  left: 91vw;
  min-width: 25px;
  min-height: 25px;
  top: 1vh;
}

.xButton:hover {
  cursor: pointer;
}

.showProj1 {
  width: 90vw;
  height: 80vh;

  z-index: 4;
  top: 14vh;
  position: fixed;

}

.imageBox {
  width: 45vw;
  height: 50vh;
  top: 15vh;

  position: absolute;

}

.textBox {
  border-color: gray;
  width: 40vw;
  height: 48vh;
  top: 15vh;
  left: 50vw;
  border-radius: 5%;
  position: absolute;

}

.infoBackground {
  position: absolute;
  top: 100vh;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  background-color: rgb(29,29,29);
}

.contactBox {

  width: 100%;
  height: 50vh;
  position: relative;
  top: 35vh;
  color: white;
}

.projectIcons {
  margin-right: 5vmax;
}

.projectIcons:hover {
  cursor: pointer;
}
.projectIconDiff:hover {
  cursor: pointer;
}

.right {
  position: absolute;
  width: 5vmin;
  height: auto;
  left: 73vw;
  top: -10vh;

  z-index: 10;
}

.right:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.left:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.left {
  position: absolute;
  width: 5vmin;
  height: auto;
  top: -10vh;
  left: 15vw;
  z-index: 10;

}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}